.directory
backup.cfg
portable.cfg
lora
lora.pro
lora.cfg
mylora.cfg
moc_*.cpp
Makefile
*.swp
.kk.log
.viminfo
*~
.*.swo
*.o
core
UnitTests
auto_makefile
lora.log
installation

*.aux
*.log
*.bbl
*.out
*.idx
*.nlo
*.blg
*.toc
*.nls
*.auxlock
*.ind
*.ilg
*.synctex.gz
*.dvi
manual.pdf