.directory
README.html
backup.cfg
pviola.cfg
viola.cfg
portable.cfg
lora
lora.pro
lora.cfg
externe_carlotta.cfg
mylora.cfg
moc_*.cpp
Makefile
*.swp
.kk.log
.viminfo
*~
.*.swo
*.o
core
UnitTests
auto_makefile
local_makefile
lora.log
installation

*.aux
*.log
*.bbl
*.out
*.idx
*.nlo
*.blg
*.toc
*.nls
*.auxlock
*.ind
*.ilg
*.synctex.gz
*.dvi
instance.vim

READMElora.html
loraREADME.html

dell.cfg