# The parser is *very* basic. Please do not add empty characters at the end of a line.


# PATHS
starting=/home/moky/script/modules
backup=/mnt/part-backup/bakatot.lora
purge=/mnt/part-backup/bakapurge.lora

# EXCLUDING SOME DIRECTORIES 
# the ending "/" is not extremely mandatory, but strongly recommended (the parser is basic). 
exclude=/home/albert/foo/Video/
exclude=/home/albert/foo/bar/

# TERMINAL LAUNCHER
terminal=terminology -e

# MY PREFERED EDITOR
editor=terminology -e vim
